    <!-- Copyright Start -->
<div class="container-fluid copyright text-body py-4">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-md-6 text-center text-md-end mb-md-0 mx-auto">
                <p class="d-flex justify-content-center">Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Desing by <a href="https://github.com/emrullahkoc/" target="_blank">&nbspgnck</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Copyright End -->