<!-- Footer Start -->
<div class="container-fluid footer py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Get In Touch</h4>
                    <a><i class="fas fa-home me-2"></i>Çağlayan Mahallesi, Muratpaşa, Antalya</a>
                    <a href="mailto:emrullahkoc.1995@gmail.com"><i class="fas fa-envelope me-2"></i> emrullahkoc.1995@gmail.com</a>
                    <a href="tel:+0905376421944"><i class="fas fa-phone me-2"></i> +090 537 642 19 44 </a>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-share fa-2x text-white me-2"></i>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href="https://www.facebook.com/emrullahkoccc/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href="https://x.com/gncbkk/" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href="https://www.instagram.com/gncbk/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href="https://github.com/emrullahkoc/" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Company</h4>
                    <a asp-controller="Home" asp-action="About"><i class="fas fa-angle-right me-2"></i> About</a>
                    <a asp-controller="Home" asp-action="Activities"><i class="fas fa-angle-right me-2"></i> Activities</a>
                    <a asp-controller="Home" asp-action="Artists"><i class="fas fa-angle-right me-2"></i> Artists</a>
                    <a asp-controller="Home" asp-action="Contact"><i class="fas fa-angle-right me-2"></i> Contact</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item">
                    <h4 class="text-white mb-3">Payments</h4>
                    <div class="footer-bank-card">
                        <a class="text-white me-2"><i class="fab fa-cc-amex fa-2x"></i></a>
                        <a class="text-white me-2"><i class="fab fa-cc-visa fa-2x"></i></a>
                        <a class="text-white me-2"><i class="fas fa-credit-card fa-2x"></i></a>
                        <a class="text-white me-2"><i class="fab fa-cc-mastercard fa-2x"></i></a>
                        <a class="text-white me-2"><i class="fab fa-cc-paypal fa-2x"></i></a>
                        <a class="text-white"><i class="fab fa-cc-discover fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->