<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Moon | Admin Panel</title>
<link rel="icon" href="~/img/logo.png" type="image/png" />
<link href="~/areas/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
<link href="~/areas/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
<link href="~/areas/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
<link href="~/areas/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/areas/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto&display=swap" />
<link rel="stylesheet" href="~/areas/assets/css/icons.css" />
<link rel="stylesheet" href="~/areas/assets/css/app.css" />
<link rel="stylesheet" href="~/areas/assets/css/dark-sidebar.css" />
<link rel="stylesheet" href="~/areas/assets/css/dark-theme.css" />
<script src="~/areas/ckeditor/ckeditor.js"></script> 