<ul class="metismenu" id="menu">
	<li>
		<a href="/Management/Home/Index">
			<div class="parent-icon icon-color-1">
				<i class="bx bx-home-alt"></i>
			</div>
			<div class="menu-title">Dashboard</div>
		</a>
	</li>
	<li class="menu-label">Edit Content</li>
	<li>
		<a href="/Management/Artist/Index">
			<div class="parent-icon icon-color-3">
				<i class="lni lni-drupal-original"></i>
			</div>
			<div class="menu-title">Artist</div>
		</a>
	</li>
	<li>
		<a href="/Management/Category/Index">
			<div class="parent-icon icon-color-3">
				<i class="lni lni-music"></i>
			</div>
			<div class="menu-title">Category</div>
		</a>
	</li>
	<li>
		<a href="/Management/Activity/Index">
			<div class="parent-icon icon-color-3">
				<i class="lni lni-night"></i>
			</div>
			<div class="menu-title">Activity</div>
		</a>
	</li>
	<li>
		<a href="/Management/Ticket/Index">
			<div class="parent-icon icon-color-3">
				<i class="lni lni-ticket"></i>
			</div>
			<div class="menu-title">Ticket</div>
		</a>
	</li>
	<li>
		<a href="/Management/Contact/Index">
			<div class="parent-icon icon-color-3">
				<i class="lni lni-popup"></i>
			</div>
			<div class="menu-title">Contact</div>
		</a>
	</li>
	<li>
		<a href="/Management/User/Index">
			<div class="parent-icon icon-color-3">
				<i class="lni lni-users"></i>
			</div>
			<div class="menu-title">Users</div>
		</a>
	</li>
	<li class="menu-label">Edit Pages</li>
	<li>
		<a href="/Management/MainPage/Edit">
			<div class="parent-icon icon-color-7">
				<i class="lni lni-home"></i>
			</div>
			<div class="menu-title">Main Page</div>
		</a>
	</li>
	<li>
		<a href="/Management/About/Edit">
			<div class="parent-icon icon-color-7">
				<i class="lni lni-agenda"></i>
			</div>
			<div class="menu-title">About</div>
		</a>
	</li>
</ul>
