<div class="sidebar-header">
    <div>
        <a href="/Home/Index"><img src="~/areas/assets/images/logo.png" class="logo-icon-2" /></a>
    </div>
    <div>
        <h4 class="logo-text">Menü</h4>
    </div>
    <a href="javascript:;" class="toggle-btn ms-auto">
        <i class="bx bx-menu"></i>
    </a>
</div>