<div class="row">
    @foreach (var item in Model.Activities)
    {
        <a href="/Management/Ticket/Camera/@item.Id" class="col-12 col-lg-4">
            <div class="card radius-15 bg-rose">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <h2 class="mb-0 text-white">@item.ActivityName</h2>
                        </div>
                        <div class="ms-auto font-35 text-white">
                            <img class="rounded ml-3 shadow" src="@item.ActivityImageUrl" width="90" height="90" style="object-fit: cover" />
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-white">@item.Artist.ArtistName</p>
                            <span class="badge" style="background-color: green; color: white;">NUMBER OF TİCKETS SOLD: @item.Tickets.Count</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
</div>